@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    pointer-events: auto;
    text-overflow: hide;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;    
    background-color: rgb(0, 0, 0);
}
canvas {
    position: absolute;
    filter: blur(3px);
    z-index: 1;
    -webkit-filter: blur(3px);
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 2;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
}
header .a {
    position: relative;
    color: yellow;
    font-family: 'Kaushan Script';
    font-weight: 550;
    font-size: 23px;
    left: 1cm;
    transition: 0.5s ease-in-out;
    padding: 10px;
    text-decoration: none;
}
header .a:hover {
    color: #fec503;
    cursor:pointer;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: block;
    color: #C2C2C2;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.5s ease-in-out;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .hamburg {
    display: block;
    color: #C2C2C2;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.5s ease-in-out;
    display: none;
}

header ul li a:hover {
    color: #fec503;
}

.container {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 115px;
    left: 250px;
    color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.127);
    z-index: 2;
    pointer-events: auto;
}

.dashboard {
    list-style: none;
    position: absolute;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboard .dashnav {
    color: rgb(155, 153, 153);
    text-decoration: none;
    position: relative;
    z-index: 100;
    transition: 0.5s ease-in-out;
    border-radius: 10px;

}

.dashboard .dashnav a {
    color: rgb(155, 153, 153);
    text-decoration: none;
    position: relative;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
}

#bigger {
    width: 200px;
}

.dashboard .dashnav:hover {
    background: rgb(23, 23, 23);
}

.logout {
    position: relative;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(204, 41, 41);
    color: #fff;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 10px;
    top: 490px;
    left: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.logout:hover {
    transition-delay: 0.2s;
    color: rgb(204, 41, 41);
    background-color: rgb(250, 177, 177);
}

.container .form {
    width: 675px;
    height: 525px;
    position: absolute;
    top: 30px;
    left: 350px;
}

.form label {
    color: rgb(116, 116, 116);
    font-size: 21px;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    top: 10px;
}

.form label .color.red {
    color: rgb(204, 41, 41);
}

.form label .color.yellow {
    color: rgb(204, 190, 41);
}

.form label .color.green {
    color: rgb(44, 204, 41);
}

.form .past {
    color: rgb(116, 116, 116);
    font-family: 'Roboto Mono', monospace;
    font-size: 21px;
    position: absolute;
    top: 115px;
    left: 0.01px;
}
.parent{
    max-width: 500px;
}
.quiz1 {
    position: relative;
    top: 75px;
    left: 30px;
    width: 175px;
    height: 175px;
    background: transparent;
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.127);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.quiz2 {
    position: relative;
    top: 75px;
    left: 60px;
    width: 175px;
    height: 175px;
    background: transparent;
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.127);
    border-radius: 10px;
}

.quiz3 {
    position: relative;
    top: 75px;
    left: 90px;
    width: 175px;
    height: 175px;
    background: transparent;
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.127);
    border-radius: 10px;
}

.quiz1:hover {
    transition: 0.5s ease-in-out;
    background: rgb(57, 57, 57);
    backdrop-filter: blur(5px);
}

.quiz1 .text1 {
    height: 0;
    opacity: 1;
    transition: 0.9s ease-in-out;
    transition-delay: 0.25s;
    text-align: center;
    position: relative;
    top: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.quiz2:hover {
    transition: 0.5s ease-in-out;
    background: rgb(57, 57, 57);
    backdrop-filter: blur(5px);
}

.quiz2 .text2 {
    height: 0;
    opacity: 1;
    transition: 0.9s ease-in-out;
    transition-delay: 0.25s;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.quiz2:hover .text2 {
    display: block;
    position: relative;
    top: 50px;
}

.quiz3:hover {
    transition: 0.5s ease-in-out;
    background: rgb(57, 57, 57);
    backdrop-filter: blur(5px);
}

.quiz3 .text3 {
    height: 0;
    opacity: 1;
    transition: 0.9s ease-in-out;
    transition-delay: 0.25s;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.quiz3:hover .text3 {
    display: block;
    position: relative;
    top: 50px;
}

p {
    position: relative;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    top: 95px;
    left: 75px;
    color: #fff;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.line {
    background-color: rgb(20, 20, 20);
    height: 500px;
    width: 3px;
    border-radius: 10px;
    position: absolute;
    left: 310px;
    top: 30px;
}