* {
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.exit {
  font-weight: 600;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  background: rgb(204, 41, 41);
  color: #fff;
  outline: none;
  border: none;
  transition: 0.5s ease-in-out;
  position: relative;
  display: flex;
  left: 40%;
  cursor: pointer;
  font-size: 16px;
}

.exit:hover {
  transition-delay: 0.2s;
  color: rgb(204, 41, 41);
  background-color: rgb(250, 177, 177);
}

body {
  margin-left: 250px;
  margin-right: 250px;
  font-family: "Rubik Iso", cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: black;
}

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot?5l6di6);
  src: url(../fonts/icomoon/icomoon.eot?5l6di6#iefix)
      format("embedded-opentype"),
    url(../fonts/icomoon/icomoon.ttf?5l6di6) format("truetype"),
    url(../fonts/icomoon/icomoon.woff?5l6di6) format("woff"),
    url(../fonts/icomoon/icomoon.svg?5l6di6#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charterbold_italic;
  src: url(../fonts/charter/charter_bold_italic-webfont.eot);
  src: url(../fonts/charter/charter_bold_italic-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_bold_italic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charterbold;
  src: url(../fonts/charter/charter_bold-webfont.eot);
  src: url(../fonts/charter/charter_bold-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_bold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charteritalic;
  src: url(../fonts/charter/charter_italic-webfont.eot);
  src: url(../fonts/charter/charter_italic-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_italic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charterregular;
  src: url(../fonts/charter/charter_regular-webfont.eot);
  src: url(../fonts/charter/charter_regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:hover,
[class^="icon-"]:hover {
  text-decoration: none;
}

.icon-logo:before {
  content: "\e901";
}

.icon-clap-hands:before {
  content: "\e900";
  color: #01c996;
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-comment:before {
  content: "\f075";
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-twitter:before {
  content: "\f099";
}

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot?5l6di6);
  src: url(../fonts/icomoon/icomoon.eot?5l6di6#iefix)
      format("embedded-opentype"),
    url(../fonts/icomoon/icomoon.ttf?5l6di6) format("truetype"),
    url(../fonts/icomoon/icomoon.woff?5l6di6) format("woff"),
    url(../fonts/icomoon/icomoon.svg?5l6di6#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charterbold_italic;
  src: url(../fonts/charter/charter_bold_italic-webfont.eot);
  src: url(../fonts/charter/charter_bold_italic-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_bold_italic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charterbold;
  src: url(../fonts/charter/charter_bold-webfont.eot);
  src: url(../fonts/charter/charter_bold-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_bold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charteritalic;
  src: url(../fonts/charter/charter_italic-webfont.eot);
  src: url(../fonts/charter/charter_italic-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_italic-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: charterregular;
  src: url(../fonts/charter/charter_regular-webfont.eot);
  src: url(../fonts/charter/charter_regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/charter/charter_regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"],
[class^="icon-"] {
  font-family: icomoon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:hover,
[class^="icon-"]:hover {
  text-decoration: none;
}

.icon-logo:before {
  content: "\e901";
}

.icon-clap-hands:before {
  content: "\e900";
  color: #01c996;
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-comment:before {
  content: "\f075";
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-twitter:before {
  content: "\f099";
}

body {
  padding-top: 10px;
}

li,
p {
  font-family: charterregular, Times, sans-serif;
  font-weight: 400;
}

b {
  font-family: charterbold, sans-serif;
}

li,
p {
  font-size: 20px;
  color: white;
}

li a,
p a,
small a {
  color: inherit;
  text-decoration: underline;
}

li a:hover,
p a:hover,
small a:hover {
  color: inherit;
}

mark {
  background-color: black;
}

footer {
  padding-bottom: 100px;
}

footer a:hover {
  text-decoration: none;
}
.undecorated {
  text-decoration: none;
}

.undecorated:hover {
  text-decoration: none;
}

.get-updates {
  border-radius: 15px;
  font-size: 0.8em;
}

.logo {
  font-size: 3em;
}

.card-img-top {
  height: 100px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: thin solid gray;
}
