<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Account Dashboard with hints of glassmorphism">
    <link rel="stylesheet" href="{{url_for('static',filename='css/account.css')}}">
    <script src="https://kit.fontawesome.com/a10bb03e8b.js" crossorigin="anonymous"></script>
    <title>Account Dashboard</title>
</head>
<body>
    <section>
        <header>
            <a class="a" href="/">Cyber Security</a>
            <div class="lists">
                <ul class='list'>
                    <li class="list2"><a href="/">Home</a></li>
                    <li class="list2"><a href="/blogs">Blogs</a></li>
                    <li class="list2"><a href="/quizdashboard">Quizzes</a></li>
                    <li class="list2"><a href="/account">Account</a></li>
                </ul>
            </div>
            <div class="hamburg">
                <p>Menu <i class="fa-solid fa-bars"></i></p>
            </div>
        </header>
    </section>
    <canvas id="Matrix"></canvas>
    <div class="container">
        <ul class="dashboard">
            <li class="dashnav"><a href="#"><i class="fa-solid fa-user"></i> Edit Profile</a></li>
            <li class="dashnav" id="bigger"><a href="/quizdashboard"><i class="fa-solid fa-gauge"></i> Quiz Dashboard</a></li>
            <li class="dashnav"><a href="/blogs"><i class="fa-solid fa-book"></i> Read More</a></li>
        </ul>
        <a class="logout" href = '/logout'>Logout</a>
        <div class="line"></div>
        <div class="form">
            <div class="current">
                {% with messages = get_flashed_messages()%}
                {%if messages%}
                    {%for msg in messages%}
                            <label id="msg">{{msg}}</label>
                    {%endfor%}
                {%endif%}
            {%endwith%}
                <label class ="cname">Current Name: {{firstname}} {{lastname}}</label>
                <label class ="cemail">Current Email: {{email}}</label>
                <label class ="cusrname">Current Company Name: {{companyname}}</label>
            </div>
            <form class="edit" method = 'post' name="changes">
                <input type="text" placeholder="Change Firstname" class="name" name="firstname" autocomplete="off">
                <input type="text" placeholder="Change Lastname" class="name" name="lastname" autocomplete="off">
                <input type="text" placeholder="Change Companyname" class="username" name="companyname" autocomplete="off">
                <input type = 'submit' id="submit" value ='Save Changes'>
            </form>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/account.js')}}"></script>
</html>