<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bloglist.css')}}">
  <title>Blogs</title>
</head>

<body>
  <!-- Top Section  -->
  <div class="intro py-3 bg-white text-center">
    <div class="container">
      <h2 class="text-primary display-3 my-4" id="article">Articles</h2>
    </div>
  </div>
  <div class="quiz py-4 bg-primary">
    <div class="container">
      <h2 class="my-5 text-white">
        <div class="container">
          {% for x in blogNumber %}
            <div class="card shadow mb-5 mt-5">
                <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3>{{bloglist[x | int]}}</h3>
                        <h4>{{bloglist[x | int + 1]}}</h4>
                        <a class="btn btn-primary" href="{{bloglist[x | int + 2]}}">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <img src="https://placehold.it/350x250" class="img-fluid" alt="bootcatch carousel blog">
                    </div>
                </div>
            </div>
          {%endfor%}
        </div>
      </h2>
      <a href="/" class="home">Go to home</a>
    </div>
  </div>

</body>

</html>