<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bloglist.css')}}">
    <title>Blogs</title>
</head>
<body>
    <!-- Top Section  -->
    <div class="intro py-3 bg-white text-center">
        <div class="container">
            <h2 class="text-primary display-3 my-4">Articles</h2>
        </div>
    </div>
    <div class="quiz py-4 bg-primary">
    <div class="container">  
    <h2 class="my-5 text-white">
    <div class="container">
        <div class="card shadow mb-5 mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <h4>     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</h4>
                        <button class="btn btn-primary">Read more</button>
                    </div>
                    <div class="col-md-4">
                        <img src="https://placehold.it/350x250" class="img-fluid" alt="bootcatch carousel blog">
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                         <img src="https://placehold.it/350x250" class="img-fluid" alt="bootcatch carousel blog">
                    </div>
                    <div class="col-md-8">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</h4>
                        <button class="btn btn-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-5 mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <h4>     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</h4>
                        <button class="btn btn-primary">Read more</button>
                    </div>
                    <div class="col-md-4">
                        <img src="https://placehold.it/350x250" class="img-fluid" alt="bootcatch carousel blog">
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                         <img src="https://placehold.it/350x250" class="img-fluid" alt="bootcatch carousel blog">
                    </div>
                    <div class="col-md-8">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</h4>
                        <button class="btn btn-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </h2>
    </div>

</body>

