<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/forgot_password.css')}}">
    <title>Reset Password</title>
</head>
<body>
    <section>
        <header>
            <a class='a' href="/">Cyber Security</a>
            <div class="lists">
                <ul class='list'>
                    <li class="list2"><a href="/">Home</a></li>
                    <li class="list2"><a href="/blogs">Blogs</a></li>
                    <li class="list2"><a href="/login-signup">Login</a></li>
                </ul>
            </div>
            <div class="hamburg">
                <p>Menu <i class="fa-solid fa-bars"></i></p>
            </div>
        </header>
    </section>
    <div class="formbG">
        <div class="loginForm">
            <form method = "post">
                <h3>Reset Password</h3>
                <input type="text" placeholder="Email" class="one" name="email" id = "email" autocomplete="off">
                <input type="password" id="blank" placeholder="Reset Password" class="one" name="password">
                <input type="password" id="blankOne" placeholder="Confirm Password" class="two">
                <input type="submit" id="btn" value="Reset">
                <div class="txt" id="txt">
                    <p id="hai" class="text">Passwords do not match!</p>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/forgot_password.js')}}"></script>
</html>