<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/forgot_password.css')}}">
    <title>Reset Password</title>
</head>
<body>
    <canvas id="Matrix"></canvas>
    <div class="formbG">
        <div class="loginForm">
            <form>
                <h3>Reset Password</h3>
                <input type="password" id="blank" placeholder="Reset Password" class="one">
                <input type="password" id="blankOne" placeholder="Confirm Password" class="two">
                <p id="btn">Reset</p>
                <div class="txt" id="txt">
                    <p id="hai" class="text">Passwords do not match!</p>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/forgot_password.js')}}"></script>
</html>